@model List<AllVisitorDTO>


<div class="container d-flex justify-content-center mt-5">
    <table class="table table-bordered table-hover border border-3 border-dark shadow">
        <thead>
            <tr>
                <th>Adı</th>
                <th>Soyadı</th>
                <th>Kişi Sayısı</th>
                <th>Oda No</th>
                <th>Giriş Tarihi</th>
                <th>Durum</th>
                <th>Çıkış Tarihi</th>
                <th>Detay</th>
                <th>Güncelle</th>
                <th>Giriş</th>
                <th>Çıkış</th>
                <th>Sil</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var visitor in Model)
            {
                <tr>
                    <td>@visitor.VisitorName</td>
                    <td>@visitor.VisitorSurName</td>
                    <td>@visitor.VisitorCount</td>
                    <td>@visitor.VisitorRoomNumber</td>
                    <td>@visitor.VisitorStartDate.ToString("MMMM d")</td>
                    <td style="color:white; background-image:linear-gradient(@(visitor.VisitorState == 1 ? "#202040,#00337C" : visitor.VisitorState == 2 ?"#54B435,#82CD47": visitor.VisitorState == 3 ? "#E4CE66,#FFE569":"#820000,#B70404 "))">@(visitor.VisitorState == 1 ? "Giriş" : visitor.VisitorState == 2 ? "Otelde": visitor.VisitorState == 3 ? "Gelecek":"Çıkış")</td>
                    <td>@visitor.VisitorEndDate.ToString("MMMM d")</td>
                    <td><a class="btn btn-dark text-white" asp-controller="Visitor" asp-action="SelectedVisitors" asp-route-visitorId="@visitor.VisitorId">Detay</a></td>
                    <td><a class="btn btn-warning" asp-controller="Visitor" asp-action="UpdateVisitor" asp-route-id="@visitor.VisitorId">Güncelle</a></td>
                    <td><a class="btn btn-primary" asp-controller="Visitor" asp-action="CheckInVisitor" asp-route-id="@visitor.VisitorId">Giriş</a></td>
                    <td><a class="btn btn-info" asp-controller="Visitor" asp-action="CheckOutVisitor" asp-route-id="@visitor.VisitorId">Çıkış</a></td>
                    <td><a class="Delete btn btn-danger" asp-controller="Visitor" asp-action="DeleteVisitor" asp-route-id="@visitor.VisitorId">Sil</a></td>
                </tr>
            }
        </tbody>
    </table>
</div>
@section Scripts{
    <script>
        $(".Delete").on("click", (e) => {
            e.preventDefault();
            let url = e.currentTarget.getAttribute('href')
            Swal.fire({
                title: 'Eminmisin?',
                text: "Bunu geri alamazsın!",
                icon: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                confirmButtonText: 'Evet, Sil',
                cancelButtonText: 'İptal',
            }).then((result) => {
                if (result.isConfirmed) {
                    Swal.fire(
                        'Silindi!',
                        '',
                        'success',
                        setTimeout(() => {
                            window.location.href = url
                        }, 500)
                    )
                }
            })
        })
    </script>
}