@model List<AllVisitorDTO>

<div class="d-flex justify-content-evenly align-items-center my-2">
    <div style="border-radius:20px;" class="shadow-sm px-5">
        <span class="text-black" style="font-size:xx-large; font-weight:600; font-size:50px;">Ziyaretçi Listesi</span>
    </div>
</div>
<div class="container d-flex justify-content-center mt-5">
    <table class="table table-bordered table-hover border border-3 border-dark shadow">
        <thead>
            <tr>
                <th>Adı</th>
                <th>Soyadı</th>
                <th>Rezervasyon</th>
                <th>Kişi Sayısı</th>
                <th>Oda No</th>
                <th>Giriş Tarihi</th>
                <th>Durum</th>
                <th>Çıkış Tarihi</th>
                <th>Detay</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var visitor in Model)
            {
                <tr>
                    <td>@visitor.VisitorName</td>
                    <td>@visitor.VisitorSurName</td>
                    <td>@visitor.VisitorRezervation</td>
                    <td>@visitor.VisitorCount</td>
                    <td>@visitor.VisitorRoomNumber</td>
                    <td>@visitor.VisitorStartDate.ToString("MMMM d")</td>
                    <td style="color:white; background-image:linear-gradient(@(visitor.VisitorState == 1 ? "#202040,#00337C" : visitor.VisitorState == 2 ?"#54B435,#82CD47": visitor.VisitorState == 3 ? "#E4CE66,#FFE569":"#820000,#B70404 "))">@(visitor.VisitorState == 1 ? "Giriş" : visitor.VisitorState == 2 ? "Otelde": visitor.VisitorState == 3 ? "Gelecek":"Çıkış")</td>
                    <td>@visitor.VisitorEndDate.ToString("MMMM d")</td>
                    <td><a class="btn btn-dark text-white" asp-controller="Visitor" asp-action="SelectedVisitors" asp-route-visitorId="@visitor.VisitorId">Detay</a></td>
                </tr>
            }
        </tbody>
    </table>
</div>
@section Scripts{
}