@model DailyVisitorDTOs

<style>
    body {
        user-select: none;
    }
</style>
<div class="d-flex">
    <div class="col-8 d-flex flex-column justify-content-center">
        <div class="d-flex justify-content-evenly align-items-center my-2">
            <div>
                <span class="text-black" style="font-size:xx-large; position:relative; left:15px; font-weight:600; font-size:50px;">@DateTime.Now.ToString("d MMMM")</span>
            </div>
            <div class="d-flex">
                <div class="mx-5">
                    <a asp-controller="Visitor" asp-action="AddVisitor">
                        <div id="VisitorButton" class="V5Blokaj">
                            Ziyaretçi Ekle
                        </div>
                    </a>
                </div>
                <div class="mx-5">
                    <a asp-controller="Visitor" asp-action="AllVisitors">
                        <div id="VisitorButton" class="v2List">
                            Ziyaretci Listesi
                        </div>
                    </a>
                </div>
            </div>
        </div>
        <div class="d-flex container justify-content-center flex-column">
            @*First Floor*@
            <div class="d-flex justify-content-center">
                <div class="d-flex align-items-center">
                    <div id="RoomStlye" style="background-image:linear-gradient(@(Model.roomStates[101] == "red" ? "#820000,#B70404" : Model.roomStates[101] == "blue" ? "#202040,#00337C" : Model.roomStates[101] == "green" ? "#82CD47,#54B435" : Model.roomStates[101] == "bluered" ? "45deg,#202040, #00337C 50%, #820000 50%, #B70404 100%" : Model.roomStates[101]=="bluegreen" ? "45deg,#202040, #00337C 50%, #54B435 50%, #82CD47 100%" : Model.roomStates[101] == "greenred" ? "45deg,#54B435, #82CD47 50%, #820000 50%, #B70404 100%" : Model.roomStates[101] == "bluegreenred" ? "45deg,#202040,#00337C 33%,#54B435 33%, #82CD47 66%, #820000 66%, #B70404 100%" : Model.roomStates[101]== ""?"white,white":""))">
                        <a class="  fs-1" asp-controller="Visitor" asp-action="SelectedVisitors" asp-route-roomNumber="101">101</a>
                        <div class="RoomCleanButton" id=101>

                        </div>
                        <img class="PaymentStatementImage" src="@(Model.paymentStates[101] == false ? "./Images/cross.jpg":"./Images/thick.jpg")" style="z-index:@((Model.roomStates[101].Contains("red") || Model.roomStates[101].Contains("green"))==true?"1":"-1");" />
                    </div>
                </div>

                <div class="d-flex align-items-center">
                    <div id="RoomStlye" style="background-image:linear-gradient(@(Model.roomStates[102] == "red" ? "#820000,#B70404" : Model.roomStates[102] == "blue" ? "#202040,#00337C" : Model.roomStates[102] == "green" ? "#82CD47,#54B435" : Model.roomStates[102] == "bluered" ? "45deg,#202040, #00337C 50%, #820000 50%, #B70404 100%" : Model.roomStates[102]=="bluegreen" ? "45deg,#202040, #00337C 50%, #54B435 50%, #82CD47 100%" : Model.roomStates[102] == "greenred" ? "45deg,#54B435, #82CD47 50%, #820000 50%, #B70404 100%" : Model.roomStates[102] == "bluegreenred" ? "45deg,#202040,#00337C 33%,#54B435 33%, #82CD47 66%, #820000 66%, #B70404 100%" : Model.roomStates[102]== ""?"white,white":""))">
                        <a class="  fs-1" asp-controller="Visitor" asp-action="SelectedVisitors" asp-route-roomNumber="102">102</a>
                        <div class="RoomCleanButton" id=102>

                        </div>
                        <img class="PaymentStatementImage" src="@(Model.paymentStates[102] == false ? "./Images/cross.jpg":"./Images/thick.jpg")" style="z-index:@((Model.roomStates[102].Contains("red") || Model.roomStates[102].Contains("green"))==true?"1":"-1");" />
                    </div>
                </div>

                <div class="d-flex align-items-center">
                    <div id="RoomStlye" style="background-image:linear-gradient(@(Model.roomStates[103] == "red" ? "#820000,#B70404" : Model.roomStates[103] == "blue" ? "#202040,#00337C" : Model.roomStates[103] == "green" ? "#82CD47,#54B435" : Model.roomStates[103] == "bluered" ? "45deg,#202040, #00337C 50%, #820000 50%, #B70404 100%" : Model.roomStates[103]=="bluegreen" ? "45deg,#202040, #00337C 50%, #54B435 50%, #82CD47 100%" : Model.roomStates[103] == "greenred" ? "45deg,#54B435, #82CD47 50%, #820000 50%, #B70404 100%" : Model.roomStates[103] == "bluegreenred" ? "45deg,#202040,#00337C 33%,#54B435 33%, #82CD47 66%, #820000 66%, #B70404 100%" : Model.roomStates[103]== ""?"white,white":""))">
                        <a class="  fs-1" asp-controller="Visitor" asp-action="SelectedVisitors" asp-route-roomNumber="103">103</a>
                        <div class="RoomCleanButton" id=103>

                        </div>
                        <img class="PaymentStatementImage" src="@(Model.paymentStates[103] == false ? "./Images/cross.jpg":"./Images/thick.jpg")" style="z-index:@((Model.roomStates[103].Contains("red") || Model.roomStates[103].Contains("green"))==true?"1":"-1");" />
                    </div>
                </div>

                <div class="d-flex align-items-center">
                    <div id="RoomStlye" style="background-image:linear-gradient(@(Model.roomStates[104] == "red" ? "#820000,#B70404" : Model.roomStates[104] == "blue" ? "#202040,#00337C" : Model.roomStates[104] == "green" ? "#82CD47,#54B435" : Model.roomStates[104] == "bluered" ? "45deg,#202040, #00337C 50%, #820000 50%, #B70404 100%" : Model.roomStates[104]=="bluegreen" ? "45deg,#202040, #00337C 50%, #54B435 50%, #82CD47 100%" : Model.roomStates[104] == "greenred" ? "45deg,#54B435, #82CD47 50%, #820000 50%, #B70404 100%" : Model.roomStates[104] == "bluegreenred" ? "45deg,#202040,#00337C 33%,#54B435 33%, #82CD47 66%, #820000 66%, #B70404 100%" : Model.roomStates[104]== ""?"white,white":""))">
                        <a class="  fs-1" asp-controller="Visitor" asp-action="SelectedVisitors" asp-route-roomNumber="104">104</a>
                        <div class="RoomCleanButton" id=104>

                        </div>
                        <img class="PaymentStatementImage" src="@(Model.paymentStates[104] == false ? "./Images/cross.jpg":"./Images/thick.jpg")" style="z-index:@((Model.roomStates[104].Contains("red") || Model.roomStates[104].Contains("green"))==true?"1":"-1");" />
                    </div>
                </div>
            </div>
            @*Second Floor*@
            <div class="d-flex justify-content-center">
                <div class="d-flex align-items-center">
                    <div id="RoomStlye" style="background-image:linear-gradient(@(Model.roomStates[201] == "red" ? "#820000,#B70404" : Model.roomStates[201] == "blue" ? "#202040,#00337C" : Model.roomStates[201] == "green" ? "#82CD47,#54B435" : Model.roomStates[201] == "bluered" ? "45deg,#202040, #00337C 50%, #820000 50%, #B70404 100%" : Model.roomStates[201]=="bluegreen" ? "45deg,#202040, #00337C 50%, #54B435 50%, #82CD47 100%" : Model.roomStates[201] == "greenred" ? "45deg,#54B435, #82CD47 50%, #820000 50%, #B70404 100%" : Model.roomStates[201] == "bluegreenred" ? "45deg,#202040,#00337C 33%,#54B435 33%, #82CD47 66%, #820000 66%, #B70404 100%" : Model.roomStates[201]== ""?"white,white":""))">
                        <a class="  fs-1" asp-controller="Visitor" asp-action="SelectedVisitors" asp-route-roomNumber="201">201</a>
                        <div class="RoomCleanButton" id=201>

                        </div>
                        <img class="PaymentStatementImage" src="@(Model.paymentStates[201] == false ? "./Images/cross.jpg":"./Images/thick.jpg")" style="z-index:@((Model.roomStates[201].Contains("red") || Model.roomStates[201].Contains("green"))==true?"1":"-1");" />
                    </div>
                </div>

                <div class="d-flex align-items-center">
                    <div id="RoomStlye" style="background-image:linear-gradient(@(Model.roomStates[202] == "red" ? "#820000,#B70404" : Model.roomStates[202] == "blue" ? "#202040,#00337C" : Model.roomStates[202] == "green" ? "#82CD47,#54B435" : Model.roomStates[202] == "bluered" ? "45deg,#202040, #00337C 50%, #820000 50%, #B70404 100%" : Model.roomStates[202]=="bluegreen" ? "45deg,#202040, #00337C 50%, #54B435 50%, #82CD47 100%" : Model.roomStates[202] == "greenred" ? "45deg,#54B435, #82CD47 50%, #820000 50%, #B70404 100%" : Model.roomStates[202] == "bluegreenred" ? "45deg,#202040,#00337C 33%,#54B435 33%, #82CD47 66%, #820000 66%, #B70404 100%" : Model.roomStates[202]== ""?"white,white":""))">
                        <a class="  fs-1" asp-controller="Visitor" asp-action="SelectedVisitors" asp-route-roomNumber="202">202</a>
                        <div class="RoomCleanButton" id=202>

                        </div>
                        <img class="PaymentStatementImage" src="@(Model.paymentStates[202] == false ? "./Images/cross.jpg":"./Images/thick.jpg")" style="z-index:@((Model.roomStates[202].Contains("red") || Model.roomStates[202].Contains("green"))==true?"1":"-1");" />
                    </div>
                </div>

                <div class="d-flex align-items-center">
                    <div id="RoomStlye" style="background-image:linear-gradient(@(Model.roomStates[203] == "red" ? "#820000,#B70404" : Model.roomStates[203] == "blue" ? "#202040,#00337C" : Model.roomStates[203] == "green" ? "#82CD47,#54B435" : Model.roomStates[203] == "bluered" ? "45deg,#202040, #00337C 50%, #820000 50%, #B70404 100%" : Model.roomStates[203]=="bluegreen" ? "45deg,#202040, #00337C 50%, #54B435 50%, #82CD47 100%" : Model.roomStates[203] == "greenred" ? "45deg,#54B435, #82CD47 50%, #820000 50%, #B70404 100%" : Model.roomStates[203] == "bluegreenred" ? "45deg,#202040,#00337C 33%,#54B435 33%, #82CD47 66%, #820000 66%, #B70404 100%" : Model.roomStates[203]== ""?"white,white":""))">
                        <a class="  fs-1" asp-controller="Visitor" asp-action="SelectedVisitors" asp-route-roomNumber="203">203</a>
                        <div class="RoomCleanButton" id=203>

                        </div>
                        <img class="PaymentStatementImage" src="@(Model.paymentStates[203] == false ? "./Images/cross.jpg":"./Images/thick.jpg")" style="z-index:@((Model.roomStates[203].Contains("red") || Model.roomStates[203].Contains("green"))==true?"1":"-1");" />
                    </div>
                </div>

                <div class="d-flex align-items-center">
                    <div id="RoomStlye" style="background-image:linear-gradient(@(Model.roomStates[204] == "red" ? "#820000,#B70404" : Model.roomStates[204] == "blue" ? "#202040,#00337C" : Model.roomStates[204] == "green" ? "#82CD47,#54B435" : Model.roomStates[204] == "bluered" ? "45deg,#202040, #00337C 50%, #820000 50%, #B70404 100%" : Model.roomStates[204]=="bluegreen" ? "45deg,#202040, #00337C 50%, #54B435 50%, #82CD47 100%" : Model.roomStates[204] == "greenred" ? "45deg,#54B435, #82CD47 50%, #820000 50%, #B70404 100%" : Model.roomStates[204] == "bluegreenred" ? "45deg,#202040,#00337C 33%,#54B435 33%, #82CD47 66%, #820000 66%, #B70404 100%" : Model.roomStates[204]== ""?"white,white":""))">
                        <a class="  fs-1" asp-controller="Visitor" asp-action="SelectedVisitors" asp-route-roomNumber="204">204</a>
                        <div class="RoomCleanButton" id=204>

                        </div>
                        <img class="PaymentStatementImage" src="@(Model.paymentStates[204] == false ? "./Images/cross.jpg":"./Images/thick.jpg")" style="z-index:@((Model.roomStates[204].Contains("red") || Model.roomStates[204].Contains("green"))==true?"1":"-1");" />
                    </div>
                </div>
            </div>
            @*Third Floor*@
            <div class="d-flex justify-content-center">
                <div class="d-flex align-items-center">
                    <div id="RoomStlye" style="background-image:linear-gradient(@(Model.roomStates[301] == "red" ? "#820000,#B70404" : Model.roomStates[301] == "blue" ? "#202040,#00337C" : Model.roomStates[301] == "green" ? "#82CD47,#54B435" : Model.roomStates[301] == "bluered" ? "45deg,#202040, #00337C 50%, #820000 50%, #B70404 100%" : Model.roomStates[301]=="bluegreen" ? "45deg,#202040, #00337C 50%, #54B435 50%, #82CD47 100%" : Model.roomStates[301] == "greenred" ? "45deg,#54B435, #82CD47 50%, #820000 50%, #B70404 100%" : Model.roomStates[301] == "bluegreenred" ? "45deg,#202040,#00337C 33%,#54B435 33%, #82CD47 66%, #820000 66%, #B70404 100%" : Model.roomStates[301]== ""?"white,white":""))">
                        <a class="  fs-1" asp-controller="Visitor" asp-action="SelectedVisitors" asp-route-roomNumber="301">301</a>
                        <div class="RoomCleanButton" id=301>

                        </div>
                        <img class="PaymentStatementImage" src="@(Model.paymentStates[301] == false ? "./Images/cross.jpg":"./Images/thick.jpg")" style="z-index:@((Model.roomStates[301].Contains("red") || Model.roomStates[301].Contains("green"))==true?"1":"-1");" />
                    </div>
                </div>

                <div class="d-flex align-items-center">
                    <div id="RoomStlye" style="background-image:linear-gradient(@(Model.roomStates[302] == "red" ? "#820000,#B70404" : Model.roomStates[302] == "blue" ? "#202040,#00337C" : Model.roomStates[302] == "green" ? "#82CD47,#54B435" : Model.roomStates[302] == "bluered" ? "45deg,#202040, #00337C 50%, #820000 50%, #B70404 100%" : Model.roomStates[302]=="bluegreen" ? "45deg,#202040, #00337C 50%, #54B435 50%, #82CD47 100%" : Model.roomStates[302] == "greenred" ? "45deg,#54B435, #82CD47 50%, #820000 50%, #B70404 100%" : Model.roomStates[302] == "bluegreenred" ? "45deg,#202040,#00337C 33%,#54B435 33%, #82CD47 66%, #820000 66%, #B70404 100%" : Model.roomStates[302]== ""?"white,white":""))">
                        <a class="  fs-1" asp-controller="Visitor" asp-action="SelectedVisitors" asp-route-roomNumber="302">302</a>
                        <div class="RoomCleanButton" id=302>

                        </div>
                        <img class="PaymentStatementImage" src="@(Model.paymentStates[302] == false ? "./Images/cross.jpg":"./Images/thick.jpg")" style="z-index:@((Model.roomStates[302].Contains("red") || Model.roomStates[302].Contains("green"))==true?"1":"-1");" />
                    </div>
                </div>

                <div class="d-flex align-items-center">
                    <div id="RoomStlye" style="background-image:linear-gradient(@(Model.roomStates[303] == "red" ? "#820000,#B70404" : Model.roomStates[303] == "blue" ? "#202040,#00337C" : Model.roomStates[303] == "green" ? "#82CD47,#54B435" : Model.roomStates[303] == "bluered" ? "45deg,#202040, #00337C 50%, #820000 50%, #B70404 100%" : Model.roomStates[303]=="bluegreen" ? "45deg,#202040, #00337C 50%, #54B435 50%, #82CD47 100%" : Model.roomStates[303] == "greenred" ? "45deg,#54B435, #82CD47 50%, #820000 50%, #B70404 100%" : Model.roomStates[303] == "bluegreenred" ? "45deg,#202040,#00337C 33%,#54B435 33%, #82CD47 66%, #820000 66%, #B70404 100%" : Model.roomStates[303]== ""?"white,white":""))">
                        <a class="  fs-1" asp-controller="Visitor" asp-action="SelectedVisitors" asp-route-roomNumber="303">303</a>
                        <div class="RoomCleanButton" id=303>

                        </div>
                        <img class="PaymentStatementImage" src="@(Model.paymentStates[303] == false ? "./Images/cross.jpg":"./Images/thick.jpg")" style="z-index:@((Model.roomStates[303].Contains("red") || Model.roomStates[303].Contains("green"))==true?"1":"-1");" />
                    </div>
                </div>

                <div class="d-flex align-items-center">
                    <div id="RoomStlye" style="background-image:linear-gradient(@(Model.roomStates[304] == "red" ? "#820000,#B70404" : Model.roomStates[304] == "blue" ? "#202040,#00337C" : Model.roomStates[304] == "green" ? "#82CD47,#54B435" : Model.roomStates[304] == "bluered" ? "45deg,#202040, #00337C 50%, #820000 50%, #B70404 100%" : Model.roomStates[304]=="bluegreen" ? "45deg,#202040, #00337C 50%, #54B435 50%, #82CD47 100%" : Model.roomStates[304] == "greenred" ? "45deg,#54B435, #82CD47 50%, #820000 50%, #B70404 100%" : Model.roomStates[304] == "bluegreenred" ? "45deg,#202040,#00337C 33%,#54B435 33%, #82CD47 66%, #820000 66%, #B70404 100%" : Model.roomStates[304]== ""?"white,white":""))">
                        <a class="  fs-1" asp-controller="Visitor" asp-action="SelectedVisitors" asp-route-roomNumber="304">304</a>
                        <div class="RoomCleanButton" id=304>

                        </div>
                        <img class="PaymentStatementImage" src="@(Model.paymentStates[304] == false ? "./Images/cross.jpg":"./Images/thick.jpg")" style="z-index:@((Model.roomStates[304].Contains("red") || Model.roomStates[304].Contains("green"))==true?"1":"-1");" />
                    </div>
                </div>
            </div>
            @*Fourth Floor*@
            <div class="d-flex justify-content-center">
                <div class="d-flex align-items-center">
                    <div id="RoomStlye" style="background-image:linear-gradient(@(Model.roomStates[401] == "red" ? "#820000,#B70404" : Model.roomStates[401] == "blue" ? "#202040,#00337C" : Model.roomStates[401] == "green" ? "#82CD47,#54B435" : Model.roomStates[401] == "bluered" ? "45deg,#202040, #00337C 50%, #820000 50%, #B70404 100%" : Model.roomStates[401]=="bluegreen" ? "45deg,#202040, #00337C 50%, #54B435 50%, #82CD47 100%" : Model.roomStates[401] == "greenred" ? "45deg,#54B435, #82CD47 50%, #820000 50%, #B70404 100%" : Model.roomStates[401] == "bluegreenred" ? "45deg,#202040,#00337C 33%,#54B435 33%, #82CD47 66%, #820000 66%, #B70404 100%" : Model.roomStates[401]== ""?"white,white":""))">
                        <a class="  fs-1" asp-controller="Visitor" asp-action="SelectedVisitors" asp-route-roomNumber="401">401</a>
                        <div class="RoomCleanButton" id=401>

                        </div>
                        <img class="PaymentStatementImage" src="@(Model.paymentStates[401] == false ? "./Images/cross.jpg":"./Images/thick.jpg")" style="z-index:@((Model.roomStates[401].Contains("red") || Model.roomStates[401].Contains("green"))==true?"1":"-1");" />
                    </div>
                </div>

                <div class="d-flex align-items-center">
                    <div id="RoomStlye" style="background-image:linear-gradient(@(Model.roomStates[402] == "red" ? "#820000,#B70404" : Model.roomStates[402] == "blue" ? "#202040,#00337C" : Model.roomStates[402] == "green" ? "#82CD47,#54B435" : Model.roomStates[402] == "bluered" ? "45deg,#202040, #00337C 50%, #820000 50%, #B70404 100%" : Model.roomStates[402]=="bluegreen" ? "45deg,#202040, #00337C 50%, #54B435 50%, #82CD47 100%" : Model.roomStates[402] == "greenred" ? "45deg,#54B435, #82CD47 50%, #820000 50%, #B70404 100%" : Model.roomStates[402] == "bluegreenred" ? "45deg,#202040,#00337C 33%,#54B435 33%, #82CD47 66%, #820000 66%, #B70404 100%" : Model.roomStates[402]== ""?"white,white":""))">
                        <a class="  fs-1" asp-controller="Visitor" asp-action="SelectedVisitors" asp-route-roomNumber="402">402</a>
                        <div class="RoomCleanButton" id=402>

                        </div>
                        <img class="PaymentStatementImage" src="@(Model.paymentStates[402] == false ? "./Images/cross.jpg":"./Images/thick.jpg")" style="z-index:@((Model.roomStates[402].Contains("red") || Model.roomStates[402].Contains("green"))==true?"1":"-1");" />
                    </div>
                </div>

                <div class="d-flex align-items-center">
                    <div id="RoomStlye" style="background-image:linear-gradient(@(Model.roomStates[403] == "red" ? "#820000,#B70404" : Model.roomStates[403] == "blue" ? "#202040,#00337C" : Model.roomStates[403] == "green" ? "#82CD47,#54B435" : Model.roomStates[403] == "bluered" ? "45deg,#202040, #00337C 50%, #820000 50%, #B70404 100%" : Model.roomStates[403]=="bluegreen" ? "45deg,#202040, #00337C 50%, #54B435 50%, #82CD47 100%" : Model.roomStates[403] == "greenred" ? "45deg,#54B435, #82CD47 50%, #820000 50%, #B70404 100%" : Model.roomStates[403] == "bluegreenred" ? "45deg,#202040,#00337C 33%,#54B435 33%, #82CD47 66%, #820000 66%, #B70404 100%" : Model.roomStates[403]== ""?"white,white":""))">
                        <a class="  fs-1" asp-controller="Visitor" asp-action="SelectedVisitors" asp-route-roomNumber="403">403</a>
                        <div class="RoomCleanButton" id=403>

                        </div>
                        <img class="PaymentStatementImage" src="@(Model.paymentStates[403] == false ? "./Images/cross.jpg":"./Images/thick.jpg")" style="z-index:@((Model.roomStates[403].Contains("red") || Model.roomStates[403].Contains("green"))==true?"1":"-1");" />
                    </div>
                </div>

                <div class="d-flex align-items-center">
                    <div id="RoomStlye" style="background-image:linear-gradient(@(Model.roomStates[404] == "red" ? "#820000,#B70404" : Model.roomStates[404] == "blue" ? "#202040,#00337C" : Model.roomStates[404] == "green" ? "#82CD47,#54B435" : Model.roomStates[404] == "bluered" ? "45deg,#202040, #00337C 50%, #820000 50%, #B70404 100%" : Model.roomStates[404]=="bluegreen" ? "45deg,#202040, #00337C 50%, #54B435 50%, #82CD47 100%" : Model.roomStates[404] == "greenred" ? "45deg,#54B435, #82CD47 50%, #820000 50%, #B70404 100%" : Model.roomStates[404] == "bluegreenred" ? "45deg,#202040,#00337C 33%,#54B435 33%, #82CD47 66%, #820000 66%, #B70404 100%" : Model.roomStates[404]== ""?"white,white":""))">
                        <a class="  fs-1" asp-controller="Visitor" asp-action="SelectedVisitors" asp-route-roomNumber="404">404</a>
                        <div class="RoomCleanButton" id=404>

                        </div>
                        <img class="PaymentStatementImage" src="@(Model.paymentStates[404] == false ? "./Images/cross.jpg":"./Images/thick.jpg")" style="z-index:@((Model.roomStates[404].Contains("red") || Model.roomStates[404].Contains("green"))==true?"1":"-1");" />
                    </div>
                </div>
            </div>
            @*Fifth Floor*@
            <div class="d-flex justify-content-center">
                <div class="d-flex align-items-center">
                    <div id="RoomStlye" style="background-image:linear-gradient(@(Model.roomStates[501] == "red" ? "#820000,#B70404" : Model.roomStates[501] == "blue" ? "#202040,#00337C" : Model.roomStates[501] == "green" ? "#82CD47,#54B435" : Model.roomStates[501] == "bluered" ? "45deg,#202040, #00337C 50%, #820000 50%, #B70404 100%" : Model.roomStates[501]=="bluegreen" ? "45deg,#202040, #00337C 50%, #54B435 50%, #82CD47 100%" : Model.roomStates[501] == "greenred" ? "45deg,#54B435, #82CD47 50%, #820000 50%, #B70404 100%" : Model.roomStates[501] == "bluegreenred" ? "45deg,#202040,#00337C 33%,#54B435 33%, #82CD47 66%, #820000 66%, #B70404 100%" : Model.roomStates[501]== ""?"white,white":""))">
                        <a class="  fs-1" asp-controller="Visitor" asp-action="SelectedVisitors" asp-route-roomNumber="501">501</a>
                        <div class="RoomCleanButton" id=501>

                        </div>
                        <img class="PaymentStatementImage" src="@(Model.paymentStates[501] == false ? "./Images/cross.jpg":"./Images/thick.jpg")" style="z-index:@((Model.roomStates[501].Contains("red") || Model.roomStates[501].Contains("green"))==true?"1":"-1");" />
                    </div>
                </div>

                <div class="d-flex align-items-center">
                    <div id="RoomStlye" style="background-image:linear-gradient(@(Model.roomStates[502] == "red" ? "#820000,#B70404" : Model.roomStates[502] == "blue" ? "#202040,#00337C" : Model.roomStates[502] == "green" ? "#82CD47,#54B435" : Model.roomStates[502] == "bluered" ? "45deg,#202040, #00337C 50%, #820000 50%, #B70404 100%" : Model.roomStates[502]=="bluegreen" ? "45deg,#202040, #00337C 50%, #54B435 50%, #82CD47 100%" : Model.roomStates[502] == "greenred" ? "45deg,#54B435, #82CD47 50%, #820000 50%, #B70404 100%" : Model.roomStates[502] == "bluegreenred" ? "45deg,#202040,#00337C 33%,#54B435 33%, #82CD47 66%, #820000 66%, #B70404 100%" : Model.roomStates[502]== ""?"white,white":""))">
                        <a class="  fs-1" asp-controller="Visitor" asp-action="SelectedVisitors" asp-route-roomNumber="502">502</a>
                        <div class="RoomCleanButton" id=502>

                        </div>
                        <img class="PaymentStatementImage" src="@(Model.paymentStates[502] == false ? "./Images/cross.jpg":"./Images/thick.jpg")" style="z-index:@((Model.roomStates[502].Contains("red") || Model.roomStates[502].Contains("green"))==true?"1":"-1");" />
                    </div>
                </div>

                <div class="d-flex align-items-center">
                    <div id="RoomStlye" style="background-image:linear-gradient(@(Model.roomStates[503] == "red" ? "#820000,#B70404" : Model.roomStates[503] == "blue" ? "#202040,#00337C" : Model.roomStates[503] == "green" ? "#82CD47,#54B435" : Model.roomStates[503] == "bluered" ? "45deg,#202040, #00337C 50%, #820000 50%, #B70404 100%" : Model.roomStates[503]=="bluegreen" ? "45deg,#202040, #00337C 50%, #54B435 50%, #82CD47 100%" : Model.roomStates[503] == "greenred" ? "45deg,#54B435, #82CD47 50%, #820000 50%, #B70404 100%" : Model.roomStates[503] == "bluegreenred" ? "45deg,#202040,#00337C 33%,#54B435 33%, #82CD47 66%, #820000 66%, #B70404 100%" : Model.roomStates[503]== ""?"white,white":""))">
                        <a class="  fs-1" asp-controller="Visitor" asp-action="SelectedVisitors" asp-route-roomNumber="503">503</a>
                        <div class="RoomCleanButton" id=503>

                        </div>
                        <img class="PaymentStatementImage" src="@(Model.paymentStates[503] == false ? "./Images/cross.jpg":"./Images/thick.jpg")" style="z-index:@((Model.roomStates[503].Contains("red") || Model.roomStates[503].Contains("green"))==true?"1":"-1");" />
                    </div>
                </div>

            </div>
            @*Sixth Floor*@
            <div class="d-flex justify-content-center">
                <div class="d-flex align-items-center">
                    <div id="RoomStlye" style="background-image:linear-gradient(@(Model.roomStates[601] == "red" ? "#820000,#B70404" : Model.roomStates[601] == "blue" ? "#202040,#00337C" : Model.roomStates[601] == "green" ? "#82CD47,#54B435" : Model.roomStates[601] == "bluered" ? "45deg,#202040, #00337C 50%, #820000 50%, #B70404 100%" : Model.roomStates[601]=="bluegreen" ? "45deg,#202040, #00337C 50%, #54B435 50%, #82CD47 100%" : Model.roomStates[601] == "greenred" ? "45deg,#54B435, #82CD47 50%, #820000 50%, #B70404 100%" : Model.roomStates[601] == "bluegreenred" ? "45deg,#202040,#00337C 33%,#54B435 33%, #82CD47 66%, #820000 66%, #B70404 100%" : Model.roomStates[601]== ""?"white,white":""))">
                        <a class="  fs-1" asp-controller="Visitor" asp-action="SelectedVisitors" asp-route-roomNumber="601">601</a>
                        <div class="RoomCleanButton" id=601>

                        </div>
                        <img class="PaymentStatementImage" src="@(Model.paymentStates[601] == false ? "./Images/cross.jpg":"./Images/thick.jpg")" style="z-index:@((Model.roomStates[601].Contains("red") || Model.roomStates[601].Contains("green"))==true?"1":"-1");" />
                    </div>
                </div>

                <div class="d-flex align-items-center">
                    <div id="RoomStlye" style="background-image:linear-gradient(@(Model.roomStates[602] == "red" ? "#820000,#B70404" : Model.roomStates[602] == "blue" ? "#202040,#00337C" : Model.roomStates[602] == "green" ? "#82CD47,#54B435" : Model.roomStates[602] == "bluered" ? "45deg,#202040, #00337C 50%, #820000 50%, #B70404 100%" : Model.roomStates[602]=="bluegreen" ? "45deg,#202040, #00337C 50%, #54B435 50%, #82CD47 100%" : Model.roomStates[602] == "greenred" ? "45deg,#54B435, #82CD47 50%, #820000 50%, #B70404 100%" : Model.roomStates[602] == "bluegreenred" ? "45deg,#202040,#00337C 33%,#54B435 33%, #82CD47 66%, #820000 66%, #B70404 100%" : Model.roomStates[602]== ""?"white,white":""))">
                        <a class="  fs-1" asp-controller="Visitor" asp-action="SelectedVisitors" asp-route-roomNumber="602">602</a>
                        <div class="RoomCleanButton" id=602>

                        </div>
                        <img class="PaymentStatementImage" src="@(Model.paymentStates[602] == false ? "./Images/cross.jpg":"./Images/thick.jpg")" style="z-index:@((Model.roomStates[602].Contains("red") || Model.roomStates[602].Contains("green"))==true?"1":"-1");" />
                    </div>
                </div>

                <div class="d-flex align-items-center">
                    <div id="RoomStlye" style="background-image:linear-gradient(@(Model.roomStates[603] == "red" ? "#820000,#B70404" : Model.roomStates[603] == "blue" ? "#202040,#00337C" : Model.roomStates[603] == "green" ? "#82CD47,#54B435" : Model.roomStates[603] == "bluered" ? "45deg,#202040, #00337C 50%, #820000 50%, #B70404 100%" : Model.roomStates[603]=="bluegreen" ? "45deg,#202040, #00337C 50%, #54B435 50%, #82CD47 100%" : Model.roomStates[603] == "greenred" ? "45deg,#54B435, #82CD47 50%, #820000 50%, #B70404 100%" : Model.roomStates[603] == "bluegreenred" ? "45deg,#202040,#00337C 33%,#54B435 33%, #82CD47 66%, #820000 66%, #B70404 100%" : Model.roomStates[603]== ""?"white,white":""))">
                        <a class="  fs-1" asp-controller="Visitor" asp-action="SelectedVisitors" asp-route-roomNumber="603">603</a>
                        <div class="RoomCleanButton" id=603>

                        </div>
                        <img class="PaymentStatementImage" src="@(Model.paymentStates[603] == false ? "./Images/cross.jpg":"./Images/thick.jpg")" style="z-index:@((Model.roomStates[603].Contains("red") || Model.roomStates[603].Contains("green"))==true?"1":"-1");" />
                    </div>
                </div>

            </div>
            @*Seventh Floor*@
            <div class="d-flex justify-content-center">
                <div class="d-flex align-items-center">
                    <div id="RoomStlye" style="background-image:linear-gradient(@(Model.roomStates[701] == "red" ? "#820000,#B70404" : Model.roomStates[701] == "blue" ? "#202040,#00337C" : Model.roomStates[701] == "green" ? "#82CD47,#54B435" : Model.roomStates[701] == "bluered" ? "45deg,#202040, #00337C 50%, #820000 50%, #B70404 100%" : Model.roomStates[701]=="bluegreen" ? "45deg,#202040, #00337C 50%, #54B435 50%, #82CD47 100%" : Model.roomStates[701] == "greenred" ? "45deg,#54B435, #82CD47 50%, #820000 50%, #B70404 100%" : Model.roomStates[701] == "bluegreenred" ? "45deg,#202040,#00337C 33%,#54B435 33%, #82CD47 66%, #820000 66%, #B70404 100%" : Model.roomStates[701]== ""?"white,white":""))">
                        <a class="  fs-1" asp-controller="Visitor" asp-action="SelectedVisitors" asp-route-roomNumber="701">701</a>
                        <div class="RoomCleanButton" id=701>

                        </div>
                        <img class="PaymentStatementImage" src="@(Model.paymentStates[701] == false ? "./Images/cross.jpg":"./Images/thick.jpg")" style="z-index:@((Model.roomStates[701].Contains("red") || Model.roomStates[701].Contains("green"))==true?"1":"-1");" />
                    </div>
                </div>

                <div class="d-flex align-items-center">
                    <div id="RoomStlye" style="background-image:linear-gradient(@(Model.roomStates[702] == "red" ? "#820000,#B70404" : Model.roomStates[702] == "blue" ? "#202040,#00337C" : Model.roomStates[702] == "green" ? "#82CD47,#54B435" : Model.roomStates[702] == "bluered" ? "45deg,#202040, #00337C 50%, #820000 50%, #B70404 100%" : Model.roomStates[702]=="bluegreen" ? "45deg,#202040, #00337C 50%, #54B435 50%, #82CD47 100%" : Model.roomStates[702] == "greenred" ? "45deg,#54B435, #82CD47 50%, #820000 50%, #B70404 100%" : Model.roomStates[702] == "bluegreenred" ? "45deg,#202040,#00337C 33%,#54B435 33%, #82CD47 66%, #820000 66%, #B70404 100%" : Model.roomStates[702]== ""?"white,white":""))">
                        <a class="  fs-1" asp-controller="Visitor" asp-action="SelectedVisitors" asp-route-roomNumber="702">702</a>
                        <div class="RoomCleanButton" id=702>

                        </div>
                        <img class="PaymentStatementImage" src="@(Model.paymentStates[702] == false ? "./Images/cross.jpg":"./Images/thick.jpg")" style="z-index:@((Model.roomStates[702].Contains("red") || Model.roomStates[702].Contains("green"))==true?"1":"-1");" />
                    </div>
                </div>

            </div>
        </div>
    </div>


    <div class="col-4">
        <div class="d-flex border mt-5 border-5 shadow border-dark flex-column align-items-center  rounded-3 position-relative p-3 col-8" style="top:60px">
            <span class="fs-3 fw-bolder">Giriş  : @Model.CheckInCount</span>
            <span class="fs-3 fw-bolder">Mevcut : @Model.StayInCount</span>
            <span class="fs-3 fw-bolder">Çıkış : @Model.CheckOutCount</span>
            <div class="d-flex justify-content-center rounded-3 shadow-lg fs-4 align-items-center m-1 text-white" style="height: 100px; width: 50%; background-image: linear-gradient(#202040,#00337C); ">
                <a style="color:white; width:100%; text-align:center;" asp-controller="Visitor" asp-action="AllCheckInVisitors">
                    Giriş
                </a>
            </div>
            <div class="d-flex justify-content-center rounded-3 shadow-lg fs-4 align-items-center m-1 text-white" style="height: 100px; width: 50%; background-image: linear-gradient(#54B435,#82CD47) ">Otelde</div>

            <div class="d-flex justify-content-center rounded-3 shadow-lg fs-4 align-items-center m-1 text-white" style="height: 100px; width: 50%; background-image: linear-gradient(#820000,#B70404) ">
                <a style="color:white; width:100%; text-align:center;" asp-controller="Visitor" asp-action="AllCheckOutVisitors">
                    Çıkış
                </a>
            </div>
        </div>
    </div>
</div>

@section Scripts{
    <script>

        async function FetchApi(url) {
            let data = await fetch(url).then(data => data.json())
            return data;
        }



        FetchApi("https://localhost:7121/Visitor/AllRooms", { method: "GET" }).then(rooms => {
            rooms.forEach(room => {
                let id = room.roomNumber;
                if (!room.isClean) {
                    $(`#${id}`).addClass("RoomIsDirty");
                    $(`#${id}`).removeClass("RoomIsClean");
                }
                else {
                    $(`#${id}`).removeClass("RoomIsDirty");
                    $(`#${id}`).addClass("RoomIsClean");
                }
            })
        })

        $(".RoomCleanButton").on("click", (e) => {
            let obj = { RoomNumber: String(e.currentTarget.id), RoomIsClean: $(`#${e.currentTarget.id}`).hasClass("RoomIsDirty") == true ? true : false }
            fetch("https://localhost:7121/Visitor/IsRoomClean", {
                method: "POST",
                mode: "cors",
                cache: "no-cache",
                credentials: "same-origin",
                headers: {
                    "Content-Type": "application/json",
                },
                redirect: "follow",
                referrerPolicy: "no-referrer",
                body: JSON.stringify(obj)
            });
            if (obj.RoomIsClean) {
                $(`#${e.currentTarget.id}`).removeClass("RoomIsDirty");
                $(`#${e.currentTarget.id}`).addClass("RoomIsClean");
            }
            else {
                $(`#${e.currentTarget.id}`).addClass("RoomIsDirty");
                $(`#${e.currentTarget.id}`).removeClass("RoomIsClean");
            }
        })


    </script>
}