@model List<Visitor>

    <div class="d-flex justify-content-evenly align-items-center my-2">
        <div style="border-radius:20px;" class="shadow-sm px-5">
            <span class="text-black" style="font-size:xx-large; font-weight:600; font-size:50px;">Son Eklenenler</span>
        </div>
    </div>
<div class="container mt-5">
    <table class="table table-hover">
        <tr>
            <th>(N)</th>
            <th>Adı</th>
            <th>SoyAdı</th>
            <th>Rezervasyon</th>
            <th>Eklenme Tarihi</th>
            <th>Vardiya</th>
            <th>Detay</th>
        </tr>
        @for (int i = 0; i < Model.Count(); i++)
        {
            <tr>
                <td>@(i + 1)</td>
                <td>@Model[i].VisitorProperties[0].VisitorName</td>
                <td>@Model[i].VisitorProperties[0].VisitorSurName</td>
                <td>@Model[i].Agency?.AgencyName</td>
                <td>@Model[i].VisitorAddedDate?.ToString("f")</td>
                <td>
                    @if (Model[i].VisitorAddedDate?.Hour >= 8 && Model[i].VisitorAddedDate?.Hour <= 14)
                    {
                        <span>Sabah</span>
                    }
                    else if (Model[i].VisitorAddedDate?.Hour >= 15 && Model[i].VisitorAddedDate?.Hour <= 22)
                    {
                        <span>Öğle</span>
                    }
                    else if (Model[i].VisitorAddedDate?.Hour >= 23 || Model[i].VisitorAddedDate?.Hour <= 7)
                    {
                        <span>Gece</span>
                    }
                </td>
                <td><a class="btn btn-dark text-white" asp-controller="Visitor" asp-action="SelectedVisitors" asp-route-visitorId="@Model[i].VisitorId">Detay</a></td>
            </tr>
        }
    </table>
</div>