@model MonthlyIncomeDTO


<div class="d-flex  justify-content-evenly align-items-center">
    <a id="previus" class="bnptn-arrow bnptn-arrow-left" title="previus"></a>
    <div class="d-flex justify-content-center align-items-center">
        <span class="text-black shadow-sm px-5" style="font-size:xx-large; border-radius:20px; font-weight:600; font-size:50px;">@DateTime.Now.AddMonths(Model.MonthNumber).Year <span style="color:darkred;">-</span> @DateTime.Now.AddMonths(Model.MonthNumber).ToString("MMMM")</span>
        <div class="wrappers">
            <div class="containers">
                <div class="d-flex justify-content-center bg-warning py-3">
                    <img src="~/Images/TurkishLiraCurrency.svg" style="width:50px;" />
                </div>
                <span class="num" data-val="@Model.TurkishLiras">000</span>
                <span class="text">Türk Lirası</span>
            </div>
            <div class="containers">
                <div class="d-flex justify-content-center bg-danger py-3">
                    <img src="~/Images/DollarCurrency.svg" style="width:50px;" />
                </div>
                <span class="num" data-val="@Model.Dollar">000</span>
                <span class="text">Dolar</span>
            </div>
            <div class="containers">
                <div class="d-flex justify-content-center bg-primary py-3">
                    <img src="~/Images/EuroCurrency.svg" style="width:50px;" />
                </div>
                <span class="num" data-val="@Model.Euro">000</span>
                <span class="text">Euro</span>
            </div>
        </div>
    </div>
    <a id="next" class="bnptn-arrow bnptn-arrow-right" title="Next"></a>
</div>
@section Scripts{
    <script>
        let valueDisplays = document.querySelectorAll(".num");
        let interval = 4000;
        valueDisplays.forEach((valueDisplay) => {
            let startValue = 0;
            let endValue = parseInt(valueDisplay.getAttribute("data-val"));
            console.log(endValue)
            if (endValue > 0) {
                let duration = Math.floor(interval / endValue);
                let counter = setInterval(function () {
                    startValue += Math.floor((endValue / 44))
                    valueDisplay.textContent = startValue;
                    if (startValue >= endValue) {
                        valueDisplay.textContent = endValue;
                        clearInterval(counter);
                    }
                }, duration);
            }
        });
        let monthNumber = @Model.MonthNumber;
        $("#next").on("click", () => {
            monthNumber += 1;
            window.location.href = "/Visitor/MonthlyIncome?monthNumber=" + monthNumber;
        })
        $("#previus").on("click", () => {
            monthNumber -= 1;
            window.location.href = "/Visitor/MonthlyIncome?monthNumber=" + monthNumber;
        })
    </script>
}