@model List<VisitorDetailsDTO>

<style>
    * {
        user-select: none;
    }

    #gotoroom:hover {
        cursor: pointer;
    }

    .imageDelete:hover {
        cursor: pointer;
    }

    .deletePayment {
        width: 26px;
        height: 26px;
        border-radius: 8px;
        border: 2px solid black;
        box-shadow: 0 0 3px black,0 0 6px black;
        transition: 0.2s;
        opacity: 0.03;
    }

        .deletePayment:hover {
            transition: 0.2s;
            opacity: 1;
        }

    .OffLine {
    }

        .OffLine:after {
            content: '';
            display: block;
            width: 100%;
            height: 50%;
            position: absolute;
            top: 0;
            left: 0;
            border-bottom: 3px solid;
        }

    .myCard {
        display: flex;
        justify-content: start;
        align-items: center;
        height: 600px;
        width: 900px;
        background-image: linear-gradient(90deg,black,silver 40%,silver 45%,white 65%, white 70%);
        box-shadow: 2px 2px 24px black;
        border-radius: 0 0 25px 25px;
        color: white;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        font: 500 30px Arial;
        text-shadow: #000 1px 1px 3px, #000 1px 1px 3px, #000 1px 1px 3px, #000 1px 1px 3px, #000 1px 1px 3px, #000 1px 1px 3px;
        -webkit-font-smoothing: antialiased;
    }

    .myName {
        background-image: linear-gradient(90deg,wheat,white 40%,white 45%,white 65%, white 70%);
        color: white;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        font: 500 25px Arial;
        text-shadow: #000 1px 1px 3px, #000 1px 1px 3px, #000 1px 1px 3px, #000 1px 1px 3px, #000 1px 1px 3px, #000 1px 1px 3px;
        -webkit-font-smoothing: antialiased;
        min-width: 600px;
        letter-spacing: 2px;
    }


    .process {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 50px;
        width: 80px;
        position: absolute;
        z-index: 1;
        border-radius: 5px;
        bottom: -25px;
        transition: 0.2s;
        font: 200 15px Arial;
        color: white;
    }

        .process:hover {
            transition: 0.2s;
            height: 80px;
            z-index: 2;
        }

    .Delete {
        background-image: linear-gradient(black,black)
    }

    .enter {
        background-image: linear-gradient(#202040,#00337C)
    }

    .shift {
        background-image: linear-gradient(orange,orange)
    }

    .update {
        background-image: linear-gradient(#E4CE66,#FFE569)
    }

    .leave {
        background-image: linear-gradient(#820000,#B70404)
    }

    .payment {
        background-image: linear-gradient(green,green)
    }

    .switch {
        position: relative;
        display: inline-block;
        width: 90px;
        height: 34px;
    }

        .switch input {
            display: none;
        }

    .slider {
        position: absolute;
        cursor: pointer;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: #2ab934;
        -webkit-transition: .4s;
        transition: .4s;
    }

        .slider:before {
            position: absolute;
            content: "";
            height: 26px;
            width: 26px;
            left: 4px;
            bottom: 4px;
            background-color: white;
            -webkit-transition: .4s;
            transition: .4s;
        }

    input:checked + .slider {
        background-color: #ca2222;
    }

    input:focus + .slider {
        box-shadow: 0 0 1px #2196F3;
    }

    input:checked + .slider:before {
        -webkit-transform: translateX(55px);
        -ms-transform: translateX(55px);
        transform: translateX(55px);
    }

    .on {
        display: none;
    }

    .on, .off {
        color: white;
        position: absolute;
        transform: translate(-50%,-50%);
        top: 50%;
        left: 50%;
        font-size: 10px;
        font-family: Verdana, sans-serif;
    }

    input:checked + .slider .on {
        display: block;
    }

    input:checked + .slider .off {
        display: none;
    }

    .slider.round {
        border-radius: 34px;
    }

        .slider.round:before {
            border-radius: 50%;
        }

    .previous-next-buttons {
        align-items: center;
        display: flex;
        justify-content: space-between;
    }

    .previous-next-buttons {
        align-items: center;
        display: flex;
        justify-content: space-between;
        width: 16rem;
        transition: 0.3s;
    }

    .previous-next-buttons__nav {
        position: relative;
        border: 1px solid black;
        border-radius: 0.25rem;
        padding: 0.25rem 0.5rem;
        align-items: center;
        display: flex;
        justify-content: center;
        height: 2rem;
        width: 4rem;
        transition: 0.3s;
    }

        .previous-next-buttons__nav:hover {
            border: 1px solid orange;
            transition: 0.3s;
        }

            .previous-next-buttons__nav:hover .previous-next-buttons__button--r {
                border-right: 2px solid orange;
                border-top: 2px solid orange;
                transition: 0.3s;
            }

            .previous-next-buttons__nav:hover .previous-next-buttons__button--l {
                border-bottom: 2px solid orange;
                border-left: 2px solid orange;
                transition: 0.3s;
            }

    .previous-next-buttons__button {
        background-color: transparent;
        height: 0.8rem;
        width: 0.8rem;
    }

    .previous-next-buttons__button--r {
        border-right: 2px solid black;
        border-top: 2px solid black;
        transform: translateX(-25%) rotate(45deg);
        transition: 0.3s;
    }

    .previous-next-buttons__button--l {
        border-bottom: 2px solid black;
        border-left: 2px solid black;
        transform: translateX(25%) rotate(45deg);
        transition: 0.3s;
    }


    #addVisitorCircle {
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 80px;
        font-weight: 500;
        color: silver;
        background-image: linear-gradient(0deg, white 0%, white 25%, #00337C 75%, #202040 100%);
        padding: 7px 10px;
        background-size: 100% 400%;
        background-position: 100% 0%;
        transition: .2s;
        height: 100px;
        width: 100px;
        border: 3px solid black;
        border-radius: 10px;
        box-shadow: 2px 2px 4px black;
        cursor: pointer;
    }

        #addVisitorCircle:hover {
            background-position: 100% 100%;
            border: 3px solid #202040;
            color: black;
            transition: .2s;
        }

    .letter {
        background: #fafafa;
        box-shadow: 0 0 10px rgba(0,0,0,0.3), 0 0 300px 25px rgba(222,198,122,0.7) inset;
        width: 350px;
        height: 550px;
        margin: 1.5% 50% auto;
        left: -225px;
        padding: 24px;
        position: relative;
        font-size: 25px;
    }

        .letter:before, .letter:after {
            content: "";
            background: #fafafa;
            box-shadow: 0 0 8px rgba(0,0,0,0.2), inset 0 0 300px rgba(222,198,122,0.7);
            height: 100%;
            width: 100%;
            position: absolute;
            z-index: -2;
            transition: .5s;
        }

        .letter:before {
            left: -5px;
            top: 2px;
            transform: rotate(-1.5deg);
        }

        .letter:after {
            right: -3px;
            top: 0px;
            transform: rotate(2.4deg);
        }

        .letter:hover:before {
            transform: rotate(0deg);
            left: -6px;
            top: -6px;
        }

        .letter:hover:after {
            transform: rotate(0deg);
            right: 3px;
            top: -3px;
        }

    .imageCheck {
        height: 250px;
        width: 250px;
        border: 3px solid black;
        border-radius: 5px;
        transition: 1s;
        z-index: 5;
        box-sizing: content-box;
    }
</style>

@if (ViewBag.RoomNumber >= 99)
{

    <div style="background-image: linear-gradient(black 1%,silver 1%,white 99%,black 100%); border-radius: 4px; " class="">
        <div class="d-flex justify-content-center mt-5">
            <div class="previous-next-buttons d-flex justify-content-center">
                <a asp-controller="Visitor" asp-action="SelectedVisitors" asp-route-roomNumber="@(ViewBag.RoomNumber >101 ? ViewBag.ListOfRooms[Array.IndexOf(ViewBag.ListOfRooms,ViewBag.RoomNumber)-1] :ViewBag.RoomNumber == 101 ? 702:101)">
                    <div class="previous-next-buttons__nav">
                        <div class="previous-next-buttons__button previous-next-buttons__button--l"></div>
                    </div>
                </a>
            </div>
            <h1 class="position-relative" style="color:wheat; left:8px; letter-spacing:20px; user-select:none; font-size:66px; text-shadow:2px 2px 3px black;">@ViewBag.RoomNumber</h1>
            <div class="previous-next-buttons d-flex justify-content-center">
                <a asp-controller="Visitor" asp-action="SelectedVisitors" asp-route-roomNumber="@(ViewBag.RoomNumber<702 ? ViewBag.ListOfRooms[Array.IndexOf(ViewBag.ListOfRooms,ViewBag.RoomNumber)+1]:ViewBag.RoomNumber == 702 ? 101:702)">
                    <div class="previous-next-buttons__nav">
                        <div class="previous-next-buttons__button previous-next-buttons__button--r"></div>
                    </div>
                </a>
            </div>
        </div>
        <div class="d-flex justify-content-center position-absolute mt-5" style="top:62px; left:50px;">
            <a asp-controller="Visitor" asp-action="AddVisitor" asp-route-RoomNumber="@ViewBag.RoomNumber">
                <div id="addVisitorCircle">
                    +
                </div>
            </a>
        </div>
        <div class="d-flex justify-content-center position-absolute mt-5" style="top:95px; right:50px;">
            <label class="switch">
                <input type="checkbox" id="roomState">
                <span class="slider round">
                    <span class="off">ON</span>
                    <span class="on">OFF</span>
                </span>
            </label>
        </div>
    </div>
}

@if (Model.Count() >= 1)
{
    if (ViewBag.RoomNumber <= 99)
    {
        <div style="height:88px">
            <div style="background-image: linear-gradient(black 1%,silver 1%,white 99%,black 100%); border-radius: 4px; height:87px; margin-top:48px;" class="d-flex justify-content-center">

                <div class="previous-next-buttons d-flex justify-content-center">
                    <a asp-controller="Visitor" asp-action="SelectedVisitors" asp-route-roomNumber="@(Model[0].VisitorRoomNumber >101 ? ViewBag.ListOfRooms[Array.IndexOf(ViewBag.ListOfRooms,Model[0].VisitorRoomNumber)-1] :Model[0].VisitorRoomNumber == 101 ? 702:101)">
                        <div class="previous-next-buttons__nav">
                            <div class="previous-next-buttons__button previous-next-buttons__button--l"></div>
                        </div>
                    </a>
                </div>
                <h1 class="position-relative     outSide" style="color:wheat; left:8px; letter-spacing:20px; user-select:none; font-size:66px; text-shadow:2px 2px 3px black;">@Model[0].VisitorRoomNumber</h1>
                <div class="previous-next-buttons d-flex justify-content-center">
                    <a asp-controller="Visitor" asp-action="SelectedVisitors" asp-route-roomNumber="@(Model[0].VisitorRoomNumber<702 ? ViewBag.ListOfRooms[Array.IndexOf(ViewBag.ListOfRooms,Model[0].VisitorRoomNumber)+1]:Model[0].VisitorRoomNumber == 702 ? 101:702)">
                        <div class="previous-next-buttons__nav">
                            <div class="previous-next-buttons__button previous-next-buttons__button--r"></div>
                        </div>
                    </a>
                </div>
                <div class="d-flex justify-content-center position-absolute mt-5" style="top:62px; left:50px;">
                    <a asp-controller="Visitor" asp-action="AddVisitor" asp-route-RoomNumber="@(Model[0].VisitorRoomNumber<702 ? ViewBag.ListOfRooms[Array.IndexOf(ViewBag.ListOfRooms,Model[0].VisitorRoomNumber)]:Model[0].VisitorRoomNumber == 702 ? 101:702)">
                        <div id="addVisitorCircle">
                            +
                        </div>
                    </a>
                </div>
                <div class="d-flex justify-content-center position-absolute mt-5" style="top:95px; right:50px;">
                    <label class="switch">
                        <input type="checkbox" id="roomState">
                        <span class="slider round">
                            <span class="off">ON</span>
                            <span class="on">OFF</span>
                        </span>
                    </label>
                </div>
            </div>
        </div>
    }
    <div id="mainCard" style="margin-top:80px;" class="d-flex justify-content-center flex-column align-items-center position-relative flex-wrap">
        @foreach (var visitor in Model)
        {

            <div class="d-flex flex-column align-items-start" style="margin-bottom:80px;">
                <div class="ms-5 myName pb-3 addNewName" style="border-radius: 25px 0 0 0;
        background-image: linear-gradient(@(visitor.VisitorState==2?"90deg,#54B435,#82CD47 20%,white 65%, white 70%":visitor.VisitorState==1?"90deg,#202040,#00337C 20%,white 65%, white 70%": visitor.VisitorState==3 ?"90deg,#E4CE66,#FFE569 20%,white 65%, white 70%":  "90deg,#820000,#B70404 20%,white 65%, white 70%"));">

                    @foreach (var visitorProperties in visitor.VisitorProperties)
                    {

                        @if (visitorProperties.VisitorActive)
                        {
                            <div class="d-flex position-relative justify-content-start mt-4 mx-3">
                                <div class="d-flex ActiveName" data-id="@visitorProperties.VisitorPropertiyId">
                                    <div class="px-3">
                                        @visitorProperties.VisitorName
                                    </div>
                                    <div class="px-3">
                                        @(visitorProperties.VisitorSurName==null ? "": visitorProperties.VisitorSurName.ToUpper())
                                    </div>
                                </div>
                                <div>
                                    @if (visitor.VisitorProperties.Count() > 1)
                                    {
                                        <a asp-controller="Visitor" asp-action="RemoveVisitorName" asp-route-VisitorPropertyId="@visitorProperties.VisitorPropertiyId" class="btn position-absolute btn-danger shadow-lg" style="left:825px;">Sil</a>
                                    }
                                </div>
                            </div>
                        }
                        else
                        {
                            <div class="d-flex position-relative justify-content-start mt-4 mx-3">
                                <div class="d-flex ActiveName OffLine" data-id="@visitorProperties.VisitorPropertiyId">
                                    <div class="px-3">
                                        @visitorProperties.VisitorName
                                    </div>
                                    <div class="px-3">
                                        @(visitorProperties.VisitorSurName==null ? "": visitorProperties.VisitorSurName.ToUpper())
                                    </div>
                                </div>
                                <div>
                                    @if (visitor.VisitorProperties.Count() > 1)
                                    {
                                        <a asp-controller="Visitor" asp-action="RemoveVisitorName" asp-route-VisitorPropertyId="@visitorProperties.VisitorPropertiyId" class="btn position-absolute btn-danger shadow-lg" style="left:825px;">Sil</a>
                                    }
                                </div>
                            </div>
                        }
                    }
                </div>
                <div class="myCard d-flex mx-5 position-relative" style="border-radius:0 25px 25px 25px">
                    @if (visitor.VisitorPreviusId != 0 || visitor.VisitorNextId != 0)
                    {
                        <div class="position-absolute d-flex" style="left:-280px; top:-55px;">
                            <div class="d-flex justify-content-center align-items-center fs-3" style="border-radius: 5px; height: 50px; width: 180px; background-image: linear-gradient(white,white); box-shadow: 2px 2px 4px grey,-2px -2px 1px aliceblue, 0 0 5px black; ">
                                <div class="d-flex">
                                    @if (visitor.VisitorPreviusId != 0)
                                    {
                                        <div style="background-image: linear-gradient(#B70404,#820000);border-radius: 25px 3px 3px 25px ; margin: 0 8px; padding:5px; box-shadow:0 0 4px black;  ">
                                            <a asp-action="SelectedVisitors" asp-controller="Visitor" asp-route-visitorId="@visitor.VisitorPreviusId">
                                                <span style="color:white; padding:0 10px;"> @visitor.VisitorPreviusRoomNumber </span>
                                            </a>
                                        </div>
                                        @if (visitor.VisitorNextId == 0)
                                        {
                                            <div style="height:10px; width:70px;"></div>
                                        }
                                    }
                                    @if (visitor.VisitorNextId != 0)
                                    {
                                        @if (visitor.VisitorPreviusId == 0)
                                        {
                                            <div style="height:10px; width:70px;"></div>
                                        }
                                        <div style="background-image: linear-gradient(#00337C,#202040); border-radius: 3px 25px 25px 3px; margin: 0 8px; padding: 5px; box-shadow:0 0 4px black; ">
                                            <a asp-action="SelectedVisitors" asp-controller="Visitor" asp-route-visitorId="@visitor.VisitorNextId">
                                                <span style="color:white; padding:0 10px;">@visitor.VisitorNextRoomNumber </span>
                                            </a>
                                        </div>
                                    }
                                </div>
                            </div>
                            @if (visitor.VisitorPreviusId != 0)
                            {
                                <div class="position-absolute" style="background-color: white; left: -60px; height: 51px; width: 52px; border-radius: 5px; box-shadow: 2px 2px 4px grey,-2px -2px 1px aliceblue, 0 0 5px black; ">
                                    <img class="PaymentStatementImage " src="@(visitor.VisitorPreviusPaymentIsDone==false?"/Images/cross.jpg":"/Images/thick.jpg")" />
                                </div>
                            }

                        </div>
                    }
                    <div class="d-flex flex-column position-relative" style="font-weight:500; background-color:black;text-shadow:none; height:100%; min-width:400px; opacity: 0.8; border-radius: 0 0 0 25px; display:flex; justify-content:center; align-items:start;">
                        @if (visitor.VisitorDescription != null)
                        {
                            <div class="letter position-absolute text-break" style="left:-600px; line-height:38px; color:black;">
                                @visitor.VisitorDescription
                            </div>
                        }
                        <div class="position-relative" style="bottom:20px;">
                            <div class="d-flex justify-content-start mt-3 mx-3">
                                <div class=" px-3">
                                    <span style="color:wheat">Tel</span> :<span style="user-select:all"> @visitor.VisitorPhoneNumber</span>
                                </div>
                            </div>
                            <div class="d-flex justify-content-start mt-3 mx-3">
                                <div class=" px-3">
                                    <span style="color:wheat">Oda</span> : @visitor.VisitorRoomNumber
                                </div>
                                <div class=" px-3">
                                    <span style="color: wheat">Yıl</span> : @visitor.VisitorStartDate.ToString("yy")
                                </div>
                            </div>
                            <div class="d-flex justify-content-start mt-3 mx-3">
                                <div class="px-3">
                                    @visitor.VisitorStartDate.ToString("d MMM")
                                </div>
                                <div class="px-1">
                                    @visitor.VisitorEndDate.ToString("d MMM")
                                </div>
                            </div>
                            <div class="d-flex justify-content-start mt-3 mx-3">
                                <div class=" px-3">
                                    <span style="color: wheat ">Kişi</span> : @visitor.VisitorCount
                                </div>
                            </div>
                            <div class="d-flex justify-content-start mt-3 mx-3">
                                <div class=" px-3">
                                    <span style="color: wheat ">Kalan Gün</span> : @visitor.VisitorTotalVisitDay <span style="color:wheat">/</span> @visitor.VisitorLeftDays
                                </div>
                            </div>
                            <div class="d-flex justify-content-start mt-3 mx-3">
                                <div class="px-3">
                                    @(visitor.VisitorRezervation==null ? "--" :  visitor.VisitorRezervation) <span style="color:wheat">&</span> @(visitor.VisitorRoomPrice==null ? "--":visitor.VisitorRoomPrice.Value.ToString("0.00")) @(visitor.VisitorPaymentCurrency.ToString() == "EURO" ? "€" : visitor.VisitorPaymentCurrency.ToString() == "USD" ? "$":visitor.VisitorPaymentCurrency.ToString() == "TL" ? "₺":"")
                                </div>
                            </div>
                            <div class="d-flex justify-content-start mt-3 mx-3">
                                <div class="px-3">
                                    <span style="color: wheat ">Toplam</span> : @(visitor.VisitorTotalPrice==null? "--" : visitor.VisitorTotalPrice.Value.ToString("0.00")) @(visitor.VisitorPaymentCurrency.ToString() == "EURO" ? "€" : visitor.VisitorPaymentCurrency.ToString() == "USD" ? "$":visitor.VisitorPaymentCurrency.ToString() == "TL" ? "₺":"")
                                </div>
                            </div>
                            <div class="d-flex justify-content-start mt-3 mx-3">
                                <div class="px-3 d-flex">
                                    <span style="color: wheat; margin-right:6px;">Durum</span> : @(visitor.VisitorState == 1 ? "Giriş" : visitor.VisitorState == 2 ? "Otelde": visitor.VisitorState == 3 ? "Gelecek":"Çıkış")
                                </div>
                            </div>
                            <div class="d-flex justify-content-start mt-3 mx-3">
                                <div class="px-3 d-flex">
                                    <label for="payment"><span style="color: wheat ">Ödendi</span></label>
                                    <input type="checkbox" class="visitorPaymentStatus mx-3" style="width:40px; height:100%" checked="@visitor.VisitorPaymentIsDone" value="@visitor.VisitorId" />
                                </div>
                            </div>
                            <div class="d-flex justify-content-start mt-3 mx-3">
                                <div class="AddedDate d-none px-3 d-flex position-absolute" style="top:460px; left:-10px;  color:silver; width:350px; border-radius:10px;">
                                    <div class="d-flex row align-items-center p-3">
                                        @if (visitor.VisitorAddedDate != null)
                                        {
                                            <span style="text-align:center; margin:5px;">@visitor.VisitorAddedDate?.ToString("g")</span>
                                        }
                                        else
                                        {
                                            <span style="text-align:center; margin:5px;">Bilgi Yok</span>
                                        }
                                    </div>

                                </div>
                            </div>
                            <a asp-controller="Visitor" asp-action="HistoryCheck" asp-route-VisitorId="@visitor.VisitorId" asp-route-previusUrl="@ViewBag.currentUrl">
                                <div class="ShowAddedDate position-absolute" style="height:50px; width:50px; background-color:grey; left:350px; bottom:-50px; opacity:0.025; border-top-left-radius:5px; border-bottom-left-radius:5px;">
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="d-flex position-relative px-3 flex-column mt-4" style="min-width:360px; height:420px; max-height:420px; align-self:start; margin-left:20px; margin-top:40px !important; overflow:scroll;">
                        @foreach (var payment in visitor.Payments)
                        {

                            <div class="d-flex justify-content-start  mt-3">
                                <div class="px-3">
                                    <span class="me-3">
                                        @(payment.VisitorPaymentDate==null ? null : payment.VisitorPaymentDate.Value.ToString("d MMM"))
                                    </span>
                                    @(payment.VisitorPayment==null?null: payment.VisitorPayment.Value.ToString("0.00"))
                                    @(payment.VisitorPaymentCurreny.ToString() == "EURO" ? "€" : payment.VisitorPaymentCurreny.ToString() == "USD" ? "$": payment.VisitorPaymentCurreny.ToString()== "TL"?"₺":"")

                                    <span class="ms-3">@(payment.VisitorPaymentType.ToString()=="Nakit" ? "Nakit": payment.VisitorPaymentType.ToString()== "KrediKartı" ?"K.K":"")</span>
                                </div>
                                <div class="d-flex ms-3 align-items-center">
                                    <a class="deletePayment" title="Sil" asp-action="DeletePayment" asp-controller="Visitor" asp-route-paymentId="@payment.VisitorPaymentId" asp-route-previusUrl="@ViewBag.currentUrl"><div class=" d-flex text-white justify-content-center pb-1 align-items-center"></div></a>
                                </div>
                            </div>
                        }
                    </div>
                    @if (visitor.VisitorFileUrl != "" && visitor.VisitorFileUrl != null)
                    {
                        <div class="position-absolute d-flex" style="top:0; z-index:5; right:-300px;">
                            <img class="imageCheck imgContainer" asp-append-version="true" src="@visitor.VisitorFileUrl" />
                            <a class="position-absolute" title="Sil" style="right:-5px; top:-15px; z-index:5; height:20px; width:20px;" asp-controller="Visitor" asp-action="FileDeleteAction" asp-route-imageUrl="@visitor.VisitorFileUrl" asp-route-visitorId="@visitor.VisitorId"><img class="imageDelete" style="width:20px; height:20px; border-radius:5px;" src="~/Images/cross.jpg" /></a>
                        </div>
                    }
                    <a asp-controller="Visitor" asp-action="DeleteVisitor" asp-route-id="@visitor.VisitorId">
                        <div class="Delete process OnDelete" style="  right:0px;">Sil</div>
                    </a>
                    <a asp-controller="Visitor" asp-action="CheckInVisitor" asp-route-id="@visitor.VisitorId">
                        <div class="process enter" style="  left: 90px;">Giriş</div>
                    </a>
                    <a asp-controller="Visitor" asp-action="UpdateVisitor" asp-route-id="@visitor.VisitorId">
                        <div class="process update" style="  right: 90px;">Güncelle</div>
                    </a>
                    @if (visitor.VisitorNextId == 0)
                    {
                        <a asp-controller="Visitor" asp-action="AddVisitor" asp-route-VisitorId="@visitor.VisitorId">
                            <div class="process shift" style="  right: 180px;">Geçiş</div>
                        </a>
                    }
                    else
                    {
                <div class="process shift" style="  right: 180px;">●●●</div>
                    }
                    <a asp-controller="Visitor" asp-action="CheckOutVisitor" asp-route-id="@visitor.VisitorId">
                        <div class="process leave" style=" left: 180px;">Çıkış</div>
                    </a>
                    @if (visitor.VisitorRoomPrice != null && visitor.VisitorPaymentCurrency != null)
                    {
                        <a asp-controller="Visitor" asp-action="AddPaymentToVisitor" asp-route-VisitorId="@visitor.VisitorId">
                            <div class="process payment" style=" right: 270px;">Ödeme</div>
                        </a>
                    }
                </div>
            </div>
            <hr style=" margin-bottom:100px;" />
        }
    </div>
}


@section Scripts{
    <script>


        //$("#converter").on("click", () => {
        //    let element = document.getElementById("mainCard");
        //    html2pdf().from(element).save();
        //})

        $(".imgContainer").on("click", () => {
            let img = document.getElementsByClassName("imageCheck");
            $(".imageCheck").css({ width: img[0].naturalWidth >= 1800 ? img[0].naturalWidth / 2 : img[0].naturalWidth, height: img[0].naturalWidth >= 1800 ? img[0].naturalHeight / 2 : img[0].naturalHeight });
            if ($(".imageCheck").width() == img[0].naturalWidth || $(".imageCheck").width() == img[0].naturalWidth/2 ) {
                $(".imageCheck").css({ width: "250px", height: "250px" });
            }
        })

        $(".ShowAddedDate").on("mouseover", () => {
            $(".ShowAddedDate").css({ opacity: 0.5, transition: "0.5s" });
            $(".AddedDate").toggleClass("d-none");
        })
        $(".ShowAddedDate").on("mouseleave", () => {
            $(".ShowAddedDate").css({ opacity: 0.025, transition: "0.5s" });
            $(".AddedDate").removeClass("d-none");
            $(".AddedDate").toggleClass("d-none");
        })

        $(".ActiveName").on("click", (e) => {
            if ($(".ActiveName").length>=2) {
                let stateOfVisitor = false;
                if ($(e.currentTarget).hasClass("OffLine")) {
                    $(e.currentTarget).removeClass("OffLine")
                    stateOfVisitor = true;
                }
                else {
                    $(e.currentTarget).addClass("OffLine")
                }


                let propId = $(e.currentTarget).attr("data-id");
                let activeState = { PropertyId: propId, StateOfVisitor: stateOfVisitor };
                console.log(activeState)
                fetch("https://localhost:7121/Visitor/ActiveStateChange", {
                    method: "POST",
                    mode: "cors",
                    cache: "no-cache",
                    credentials: "same-origin",
                    headers: {
                        "Content-Type": "application/json",
                    },
                    redirect: "follow",
                    referrerPolicy: "no-referrer",
                    body: JSON.stringify(activeState)
                })
            }

        })

        $("#roomState").on("change", (e) => {

            let roomStateObj = { roomNumber:@ViewBag.RoomNumber, roomState: e.currentTarget.checked }
            if (roomStateObj.roomNumber == 0) {
                roomStateObj.roomNumber = $(".outSide").html();
            }
            fetch("https://localhost:7121/Visitor/RoomStateChange", {
                method: "POST",
                mode: "cors",
                cache: "no-cache",
                credentials: "same-origin",
                headers: {
                    "Content-Type": "application/json",
                },
                redirect: "follow",
                referrerPolicy: "no-referrer",
                body: JSON.stringify(roomStateObj)
            })
        })


        let roomNumber =@ViewBag.RoomNumber;
        if (roomNumber >= 99) {
            fetch("https://localhost:7121/Visitor/GetRoomState", {
                method: "POST",
                mode: "cors",
                cache: "no-cache",
                credentials: "same-origin",
                headers: {
                    "Content-Type": "application/json",
                },
                redirect: "follow",
                referrerPolicy: "no-referrer",
                body: JSON.stringify(roomNumber)
            }).then(Response => Response.json()).then(data => {
                document.getElementById("roomState").checked = data;
            })
        }



        $(".visitorPaymentStatus").on("change", (e) => {
            let visitorId = $(e.currentTarget).val();
            let PaymentObj = { paymentStatus: e.currentTarget.checked, visitorId: visitorId }
            fetch("https://localhost:7121/Visitor/PaymentIsDone", {
                method: "POST",
                mode: "cors",
                cache: "no-cache",
                credentials: "same-origin",
                headers: {
                    "Content-Type": "application/json",
                },
                redirect: "follow",
                referrerPolicy: "no-referrer",
                body: JSON.stringify(PaymentObj)
            })
        })

        $(".OnDelete").on("click", (e) => {
            e.preventDefault();
            let url = e.currentTarget.parentElement.getAttribute('href')
            Swal.fire({
                title: 'Emin misin?',
                text: "Bunu geri alamazsın",
                icon: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                confirmButtonText: 'Evet, Sil',
                cancelButtonText: 'İptal',
            }).then((result) => {
                if (result.isConfirmed) {
                    Swal.fire(
                        'Silindi!',
                        '',
                        'Başarılı',
                        setTimeout(() => {
                            window.location.href = url
                        }, 500)
                    )
                }
            })
        })

        $(".deletePayment").on("click", (e) => {
            e.preventDefault();
            let url = e.currentTarget.getAttribute('href')
            console.log(url)

            Swal.fire({
                title: 'Emin misin?',
                text: "Bunu geri alamazsın",
                icon: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                confirmButtonText: 'Evet, Sil',
                cancelButtonText: 'İptal',
            }).then((result) => {
                if (result.isConfirmed) {
                    Swal.fire(
                        'Silindi!',
                        '',
                        'Başarılı',
                        setTimeout(() => {
                            window.location.href = url
                        }, 500)
                    )
                }
            })
        })
    </script>
}
